.App {
  text-align: center;
  padding-top: 20px;
}

.names-list {
  list-style: none;
  line-height: 1.5;
}

.names-list>li {
  color: rgb(223, 184, 112);
}

h1 {
  color: blue;
}

button:hover {
  cursor: pointer;
}

.firing-prevent {
  display: none;
}

.default {
  display: none;
}

.firing-notice {
  display: block;
  color: red;
}

.toggle-btn1,
.toggle-btn2 {
  cursor: pointer;
}

.btn-one {
  background-color: white;
  border: 1px solid green;
  font: inherit;
  padding: 8px;
  margin: 0 10px;
  color: green;
} 

.btn-one:hover {
  color: white;
  background-color: green;
}

.btn-two {
  margin-top: 5vh;
  background-color: white;
  font: inherit;
  border: none;
  padding: 8px;
  color: red;
  text-decoration: underline;
}